{% extends "layouts/main.twig" %}

{% set title = 'Ekran główny' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom mb-4 py-2">
            <h2 class="h5 d-inline">Kategorie</h2>
            <a href="#" class="btn btn-link float-end">Sortuj: najpopularniejsze</a>
        </div>
        <div class="row">
            {% for i in 0..19 %}
                <div class="col m-2 text-center">
                    <a href="{{ site_url("category/1") }}" class="link-underline link-underline-opacity-0 fw-bold text-dark">
                        <img src="https://github.com/mdo.png" alt="mdo" width="86" height="86" class="rounded-circle mb-2">
                        Category
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="border-bottom mb-4 py-2">
            <h2 class="h5 d-inline">Użytkowe</h2>
        </div>
        <div class="row">
            {% for i in 0..3 %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="border-bottom mb-4 py-2">
            <h2 class="h5 d-inline">Artykuły</h2>
            <a href="#" class="btn btn-link float-end">Pokaż wszystkie</a>
        </div>
        <div class="row">
            {% for i in 0..3 %}
                <div class="col-md-3">
                    <div class="card text-bg-dark" style="text-shadow: 1px 1px 5px black">
                        <img src="https://picsum.photos/id/{{ loop.index + 10 }}/300/200" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
